body{
    background-color: beige;
}.sci{
    color:#e91e63 ;
    position: absolute;
    padding: 5px;
    
}
.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgb(238, 191, 191);
    border: 2px solids orange;
    backdrop-filter:blur (5px) ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}